BUSINESS/IDEAS/PICOCLAW_CATALOG_AGENTS/nodered_agents_flow.json
[
    {
        "id": "tab_agents",
        "type": "tab",
        "label": "Agents (Catalog + Quality)",
        "disabled": false,
        "info": "Agent 3: Catalog Updater + Agent 5: Data Quality\nTrigger manual sau cron."
    },
    {
        "id": "inject_catalog",
        "type": "inject",
        "z": "tab_agents",
        "name": "Trigger Catalog Update",
        "props": [{"p": "payload", "v": "{\"action\":\"catalog_update\"}", "vt": "json"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "catalog",
        "x": 170,
        "y": 80,
        "wires": [["exec_catalog"]]
    },
    {
        "id": "inject_quality",
        "type": "inject",
        "z": "tab_agents",
        "name": "Trigger Data Quality",
        "props": [{"p": "payload", "v": "{\"action\":\"data_quality\",\"dry_run\":true}", "vt": "json"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "quality",
        "x": 170,
        "y": 180,
        "wires": [["exec_quality"]]
    },
    {
        "id": "exec_catalog",
        "type": "exec",
        "z": "tab_agents",
        "command": "cd /opt/ACTIVE/WEB/CATALOGS && python3 generate_catalogs_raspibig.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "600",
        "winHide": false,
        "oldrc": false,
        "name": "Generate Catalogs",
        "x": 430,
        "y": 80,
        "wires": [["parse_catalog_out"], ["parse_catalog_err"], []]
    },
    {
        "id": "exec_quality",
        "type": "exec",
        "z": "tab_agents",
        "command": "cd /opt/ACTIVE/AGENTS && python3 agent_data_quality.py --dry-run",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "300",
        "winHide": false,
        "oldrc": false,
        "name": "Data Quality Check",
        "x": 430,
        "y": 180,
        "wires": [["parse_quality_out"], ["parse_quality_err"], []]
    },
    {
        "id": "parse_catalog_out",
        "type": "function",
        "z": "tab_agents",
        "name": "Parse Catalog Result",
        "func": "let lines = msg.payload.split('\\n');\nlet summary = lines.filter(l => l.includes('angajatori') || l.includes('pagini') || l.includes('SUMAR'));\nmsg.payload = '📊 Catalog Update Done\\n' + summary.join('\\n');\nreturn msg;",
        "outputs": 1,
        "x": 670,
        "y": 60,
        "wires": [["telegram_notify"]]
    },
    {
        "id": "parse_catalog_err",
        "type": "function",
        "z": "tab_agents",
        "name": "Catalog Error",
        "func": "msg.payload = '❌ Catalog Error: ' + msg.payload.substring(0, 500);\nreturn msg;",
        "outputs": 1,
        "x": 670,
        "y": 100,
        "wires": [["telegram_notify"]]
    },
    {
        "id": "parse_quality_out",
        "type": "function",
        "z": "tab_agents",
        "name": "Parse Quality Result",
        "func": "let lines = msg.payload.split('\\n');\nlet report = lines.filter(l => l.includes('Invalide') || l.includes('Suspecte') || l.includes('duplicate') || l.includes('Radiate') || l.includes('verificate'));\nmsg.payload = '🔍 Data Quality Report\\n' + report.join('\\n');\nreturn msg;",
        "outputs": 1,
        "x": 670,
        "y": 160,
        "wires": [["telegram_notify"]]
    },
    {
        "id": "parse_quality_err",
        "type": "function",
        "z": "tab_agents",
        "name": "Quality Error",
        "func": "msg.payload = '❌ Quality Error: ' + msg.payload.substring(0, 500);\nreturn msg;",
        "outputs": 1,
        "x": 670,
        "y": 200,
        "wires": [["telegram_notify"]]
    },
    {
        "id": "telegram_notify",
        "type": "http request",
        "z": "tab_agents",
        "name": "Telegram Alert",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 910,
        "y": 130,
        "wires": [["debug_out"]],
        "info": "Configureaza URL: https://api.telegram.org/bot<TOKEN>/sendMessage\nSi body: {\"chat_id\":\"<ID>\",\"text\":msg.payload}"
    },
    {
        "id": "debug_out",
        "type": "debug",
        "z": "tab_agents",
        "name": "Agent Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1090,
        "y": 130,
        "wires": []
    },
    {
        "id": "comment_info",
        "type": "comment",
        "z": "tab_agents",
        "name": "Agent 3: Catalog (9 domenii x 20 tari) + Agent 5: Data Quality (emailuri + dedup)",
        "info": "Trigger manual sau cron.\nAgent 3: Regenereaza cataloage HTML din PostgreSQL, deploy pe A2.\nAgent 5: Valideaza emailuri, gaseste duplicate, companii radiate.\nCron: Agent 3 duminica 3AM, Agent 5 sambata 4AM.",
        "x": 400,
        "y": 280,
        "wires": []
    }
]
